body {
    background-image: url(https://i.pinimg.com/originals/8e/bb/96/8ebb96be428c20e1418863602b9c4ae2.gif);
    background-size: cover;
};


.root{
    text-align: center;
    color: rgb(182, 35, 174);
};
